{% extends "report_layout.html" %}
{% block report_data %}
    <div class="index-content">
        <div class="container">
            <table id="table"
                   data-toggle="table"
                   data-toolbar="#toolbar"
                   data-height=550
                   data-striped=True
                   data-url="{{ url_for('report_api.get_data', **index) }}"
                   data-search="true"
                   data-show-columns="true"
                   data-show-export="true"
                   data-pagination="true"
                   data-query-params="queryParams"
                   data-page-list="[5, 10, 20, 50, 100, 200]"
                   data-sort-name="dateTime"
                   data-sort-order="desc">
                <thead>
                    <tr>
                        <th data-field="state" data-checkbox="true">
                        </th>
                        <th data-field="dateTime"
                            data-sortable="true">
                                日期時間
                        </th>
                        <th data-field="ftpUser"
                            data-sortable="true">
                                FTP 使用者
                        </th>
                        <th data-field="user"
                            data-sortable="true">
                                電腦使用者
                        </th>
                        <th data-field="userIp"
                            data-sortable="true">
                                使用者 IP
                        </th>
                        <th data-field="computer"
                            data-sortable="true">
                                使用者電腦名稱
                        </th>
                        <th data-field="action"
                            data-sortable="true">
                                用戶行為
                        </th>
                        <th data-field="file"
                            data-sortable="true">
                                關連檔案
                        </th>
                        <th data-field="detail"
                            data-sortable="true">
                                詳細資訊
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
{% endblock %}